.form {
  background-color: rgb(41, 113, 175);
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: aliceblue;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: rgb(56, 92, 126);
  color: aliceblue;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(41, 113, 175);
  color: aliceblue;
}

.actions button:hover {
  background-color: #23014a;
}

.actions button[type="button"] {
  background-color: transparent;
}

.actions button[type="button"]:hover {
  color: #d1bee6;
}
